COCOFiles/
data/
frames/
framesExtracted/
JSON2YOLO/
TrainingData*
transdecbuoy/
videos/
venv/
val2017/
__pycache__/
Dataset*
output_data/
output_images/
configs/
unlabeled2017/
tools/detections/
tools/framesExtracted/
tools/output_data/
tools/output_images/
tools/toExtract/
tools/xframes/
tools/models/
trimmed_videos/
*.zip
*.png
*.mov
*.mp4
*.jpg
